* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(0, 94, 122);
  display: flex;
  align-items: center;
  flex-direction: column;
}
h2 {
  text-align: center;
  margin: 30px;
  color: rgba(255, 255, 255, 0.836);
}
.container {
  user-select: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  background-color: rgb(14, 14, 13);
  width: 275px;
  height: 300px;
  opacity: 90%;
  overflow: hidden;
}
.container .city {
  font-size: 29px;
  text-transform: capitalize;
  color: white;
  margin-top: 35px;
}
.container .temp {
  font-size: 50px;
  margin-top: 16px;
  color: white;
}

.container .skyname {
  margin-top: 10px;
  font-size: 18px;
  color: white;
}
.container .MinMaxTemp {
  color: white;
  margin-top: 20px;
}
.container input {
  outline: none;
  border: none;
  margin-top: 25px;
  width: 200px;
  height: 36px;
  border-radius: 10px;
  text-align: center;
}
